.content {
  width: 3000px;
}

.card {
  width: 1750px;
  margin: 0 auto;
  height: 100px;
  margin-top : 30px;
}

.col {
  width: 900px;
}

.table {
  text-align: center;  
  
}

.foot {
  margin-left: 400px;
  width: 300px;
}

.save {
  margin-left: 900px;
}

.but {
  margin-left: 900px;
}